---
import HeadCommon from '../components/HeadCommon.astro';
import HeadSEO from '../components/HeadSEO.astro';
import Header from '../components/Header/Header.astro';
import PageContent from '../components/PageContent/PageContent.astro';
import LeftSidebar from '../components/LeftSidebar/LeftSidebar.astro';
import RightSidebar from '../components/RightSidebar/RightSidebar.astro';
import * as CONFIG from '../config';
import type { MarkdownHeading } from 'astro';
import Footer from '../components/Footer/Footer.astro';

type Props = {
	frontmatter: CONFIG.Frontmatter;
	headings: MarkdownHeading[];
};

const { frontmatter, headings } = Astro.props as Props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const currentPage = Astro.url.pathname;
const currentFile = `src/pages${currentPage.replace(/\/$/, '')}.md`;
const githubEditUrl = `${CONFIG.GITHUB_EDIT_URL}/${currentFile}`;
---

<html dir={frontmatter.dir ?? 'ltr'} lang={frontmatter.lang ?? 'en-us'} class="initial">
	<head>
		<HeadCommon />
		<HeadSEO frontmatter={frontmatter} canonicalUrl={canonicalURL} />

		<!-- browser tab title -->
		<title>
			{frontmatter.title ? `${frontmatter.title} - ${CONFIG.SITE.title}` : CONFIG.SITE.title}
		</title>

		<style>
			.sidebar {
				position: fixed;
				top: 0;
				bottom: 0;
				padding: 0;
			}
			#left-sidebar {
				display: none;
				background: var(--theme-bg-gradient);
				z-index: 10;
				inset-inline-start: 0;
			}
			#right-sidebar {
				display: none;
				top: var(--theme-navbar-height);
				inset-inline-end: 0;
				width: var(--theme-right-sidebar-width);
			}
			#main-content {
				display: flex;
				flex-direction: column;
				height: 100%;
				min-width: 0;
				padding-top: var(--theme-navbar-height);
				padding-bottom: var(--doc-padding-block);
			}
			/* Allow showing left sidebar as an overlay, but only while viewport stays narrow */
			@media not screen and (min-width: 50em) {
				/* Make the left sidebar visible and fill the entire viewport below the navbar */
				:global(.mobile-sidebar-toggle #left-sidebar) {
					display: block;
					top: var(--theme-navbar-height);
					inset-inline-end: 0;
				}
				/*
					Try to prevent the rest of the page from scrolling,
					and the main content from being visible below the overlay.

					Unfortunately, iOS Safari doesn't currently play well with this
					and will sometimes still scroll the page even though it shouldn't.

					Once overscroll-behavior is properly supported, this should be fixed.
				*/
				:global(.mobile-sidebar-toggle) {
					overflow: hidden;
				}
				:global(.mobile-sidebar-toggle .main-column) {
					visibility: hidden;
				}
				:global(.mobile-sidebar-toggle #left-sidebar ul) {
					overscroll-behavior: contain;
				}
			}

			@media (min-width: 50em) {
				.main-column {
					margin-inline-start: var(--theme-left-sidebar-width);
				}
				#left-sidebar {
					display: flex;
					padding-inline-start: var(--min-spacing-inline);
					padding-inline-end: 1rem;
					top: var(--theme-navbar-height);
					width: var(--theme-left-sidebar-width);
					background: transparent;
				}
			}

			@media (min-width: 72em) {
				.main-column {
					margin-inline-end: var(--theme-right-sidebar-width);
				}
				#right-sidebar {
					display: flex;
				}
			}
		</style>

		<!--
		<style>
			body {
				width: 100%;
				display: grid;
				grid-template-rows: var(--theme-navbar-height) 1fr;
				--gutter: 0.5rem;
				--doc-padding: 2rem;
			}

			.layout {
				display: grid;
				grid-auto-flow: column;
				grid-template-columns: minmax(var(--gutter), 1fr) minmax(0, var(--max-width)) minmax(
						var(--gutter),
						1fr
					);
				overflow-x: hidden;
			}

			.grid-sidebar {
				height: 100vh;
				position: sticky;
				top: 0;
				padding: 0;
			}

			#grid-left {
				position: fixed;
				background-color: var(--theme-bg);
				z-index: 10;
				display: none;
			}

			#grid-main {
				padding: var(--doc-padding) var(--gutter);
				grid-column: 2;
				display: flex;
				flex-direction: column;
				height: 100%;
			}

			#grid-right {
				display: none;
			}

			@media (min-width: 50em) {
				.layout {
					overflow: initial;
					grid-template-columns: 18rem minmax(0, var(--max-width));
					gap: 1em;
				}

				#grid-left {
					display: flex;
					padding-left: 2rem;
					position: sticky;
					grid-column: 1;
				}
			}

			@media (min-width: 72em) {
				.layout {
					grid-template-columns: 18rem minmax(0, var(--max-width)) 18rem;
					padding-left: 0;
					padding-right: 0;
					margin: 0 auto;
				}

				#grid-right {
					grid-column: 3;
					display: flex;
				}
			}
		</style>
		<style is:global>
			.layout > * {
				width: 100%;
				height: 100%;
			}

			.mobile-sidebar-toggle {
				overflow: hidden;
			}

			.mobile-sidebar-toggle #grid-left {
				display: block;
				top: 2rem;
			}
		</style>
	</head>

	<body>
		<Header currentPage={currentPage} />
		<main class="layout">
			<aside id="grid-left" class="grid-sidebar" title="Site Navigation">
				<LeftSidebar currentPage={currentPage} />
			</aside>
			<div id="grid-main">
				<PageContent frontmatter={frontmatter} headings={headings} githubEditUrl={githubEditUrl}>
					<slot />
				</PageContent>
			</div>
			<aside id="grid-right" class="grid-sidebar" title="Table of Contents">
				<RightSidebar headings={headings} githubEditUrl={githubEditUrl} />
			</aside>
		</main>
		<Footer path={currentFile} />
	</body>
	-->

	<body>
		<Header currentPage={currentPage} />
		<main class="layout">
			<aside id="left-sidebar" class="sidebar">
				<LeftSidebar currentPage={currentPage} />
			</aside>
			<aside id="right-sidebar" class="sidebar">
				<RightSidebar headings={headings} githubEditUrl={githubEditUrl} />
			</aside>
			<div id="main-content" class="main-column">
				<PageContent frontmatter={frontmatter} headings={headings} githubEditUrl={githubEditUrl}>
					<slot />
				</PageContent>
			</div>
		</main>
		<div class="main-column">
			<slot name="footer">
				<Footer path={currentFile} />
			</slot>
		</div>
	</body>

</html>
